@charset "utf-8";
/*CSS Document*/



h3 {
	font-family: 'Open Sans', sans-serif;
	font-size: 2.6em;
  	letter-spacing: 0.04em;
	text-transform: uppercase;
}

h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3em;
  	letter-spacing: 0.04em;
	text-transform: uppercase;
	color: #f18d2b;
}


p {
	/*font-family: 'Dosis', sans-serif;*/
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
  	letter-spacing: 0.1em;
  	line-height: 1.5;
  	color: #564f45;
}

.geek {
	color: #c96156;/*#563634*/
}

.nerd {
	color: #40688b;/*#303f4d*/
}

#nerdbody{
	width:39%;
	margin-top: -10px;
}

#background {
	background-image: url("../img/background.png");
}


#peekaboo{
	margin-top:40px;
}

.geeks{
	width:35%;
}

#banner_arrow{
	margin-top: -278px;
}

#scroll_arrow:focus {
	outline: 0;
}

/*-------------------SECTIONS--------------------------*/
/*#section1 {
	background-color: #ccbfae;
  	height: 690px;
}

#section2 {
	background-color: #bfae97;
}*/


/*-------------------BANNER--------------------------*/
.banner {
	background-color: #41392e;
	height: 700px;
}

.banner h1 {
	font-family: 'Open Sans', sans-serif;
	color: #d6cda7;
	font-size: 7em;
	text-align: center;
	line-height: 1.5;
	margin-top: 200px;
	margin-bottom: 10px;
}
.banner h2 {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5em;
  	letter-spacing: 0.1em;
  	line-height: 1.5;
  	color: #e0d8cb;
  	text-align: center;
  	margin-top: 5px;
  	font-weight: 100;
}

/*-------------------Menu--------------------------*/
#menu {
	position: fixed;
	top: 0px;
	width: 100%; 
	height: 70px; 
	color: #e0d8cb;
	box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.5);	
	background-color: rgba(68, 61, 51, 0.96);  
	z-index: 9999;
	display: none;
}

ul {
	list-style-type: none;
	margin-left: -40px;
	margin-top: 25px;
}

ul li {
	float: left;
	margin-right: 60px;
}

ul li a {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
  	letter-spacing: 0.1em;
  	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	width: 100px;
	display: block;
	color: #e0d8cb;
}

ul li a:hover {
  	font-weight: bold;
}

ul li a:focus {
  	outline: 0;
}

/*-------------------Definition--------------------------*/

.intro {
	margin-top: 170px;
	background-color: #fff;
	border-radius: 1em;
	height: 190px;
}

.intro .inside_border  {
	border: 6px solid #c96156;
	border-radius: 1em;
	margin-top: 15px;
  	height: 160px;
  	width: 100%;
}

.intro .inside_border p {
	padding-left: 19px;
	width: 100%;
}

.question_mark {
	position: absolute;
	width: 100%;
}

.question_mark img {
	margin-left: auto;
	margin-right: auto;
	margin-top: -60px;
}


h3#traits {
	text-align: center;
	background-color: #473b36;
	color: #fff;
}

.center_alignment {
	text-align: center;
}

#photo_frame1 {
	cursor: pointer;
	width: 442px;
	height: 356px;
}

#meaning1 {
	display: none;
}

#photo_frame2 {
	cursor: pointer;
	width: 429px;
	height: 366px;
	margin-left: 100px;
}

#meaning2 {
	display: none;
}

.meaning_box {
	background-color: #fff;
 	height: 260px;
  	padding-top: 5px;
  	margin-top: -10px;
  	margin-bottom: 30px;
}


.meaning_box p {
	padding-left: 17px;
  	width: 97%;
}

#meaning-move {
	margin-top: -10px;
}

#arrow_left {
	position: absolute;
	margin-top: -75px;
  	margin-left: 150px;	
}

#arrow_right {
	position: absolute;
	margin-left: 350px;
  	margin-top: -75px;
}

img#arrow_down {
	margin-top: 10px;
}

/*-------------------LABELS--------------------------*/
.geek_labels p {
	padding: 10px;
  	padding-left: 20px;
  	color: #ffeed1;
  	font-size: 1em;	
}

p.labelsg {
	background-color: #c96156;
}

p#label1g {
	margin-left: 80%;
  	margin-top: -600px;	
}

p#label2g {
	width: 194px;
  	position: relative;
  	z-index: 1;
  	margin-top: 190px;
  	margin-left: 380px;
}

p#label3g {
	width: 145px;
  	margin-top: -240px;
}

p#label4g {
	width: 180px;
  	margin-top: 200px;
}

.nerd_labels p {
	padding: 10px;
  	padding-left: 20px;
  	color: #ffeed1;
  	font-size: 1em;	
}

p.labelsn {
	background-color: #3e698c;
}

p#label1n {
	margin-top: -460px;
  	width: 140px;
}

p#label2n {
	position: relative;
  	width: 180px;
  	margin-top: 180px;
}

p#label3n {
	width: 190px;
  	margin-left: 400px;
	margin-top: -440px;
  	position: absolute;
}

p#label4n {
	width: 115px;
  	margin-left: 430px;
  	margin-top: -190px;
}

#starting_questions {
	margin-top: 190px;
}

/*-------------------LINES--------------------------*/
.linesg {
	border-bottom: 2px solid #c96156;
}

#line1g {
    width: 112px;
  	height: 47px; 	
  	-webkit-transform: 
  		translateY(-20px) 
  		translateX(5px) 
  		rotate(27deg);
  	position: absolute;
  	margin-top: 30px;
  	margin-left: 140px;
}

#line2g {
    width: 62px;
  	height: 47px;
  	-webkit-transform: translateY(-20px) translateX(5px) rotate(27deg);
  	position: absolute;
  	margin-left: 340px;
}

#line3g {
    width: 82px;
  	height: 47px;
  	-webkit-transform: translateY(-20px) translateX(5px) rotate(-27deg);
  	position: absolute;
  	margin-top: -30px;
  	margin-left: 148px;
}




#line4g {
    width: 102px;
  	height: 47px;
  	-webkit-transform: translateY(-20px) translateX(5px) rotate(-27deg);
  	position: absolute;
  	margin-top: 20px;
  	margin-left: 338px;
}

.linesn {
	border-bottom: 2px solid #3e698c;
}

#line1n {
    width: 86px;
  	height: 47px;
  	-webkit-transform: translateY(-20px) translateX(5px) rotate(-27deg);
  	position: absolute;
  	margin-top: -23px;
  	margin-left: 120px;
}

#line2n {
    width: 156px;
  	height: 47px;
  	-webkit-transform: translateY(-20px) translateX(5px) rotate(-27deg);
  	position: absolute;
  	margin-top: 0px;
  	margin-left: 150px;
}

#line3n {
    width: 176px;
  	height: 47px;
  	-webkit-transform: translateY(-20px) translateX(5px) rotate(-60deg);
  	position: absolute;
  	margin-top: -343px;
  	margin-left: 245px;
}

#line4n {
    width: 95px;
  	height: 47px;
  	-webkit-transform: translateY(-20px) translateX(5px) rotate(27deg);
  	position: absolute;
  	margin-left: 351px;
}


/*-------------------QUIZ & RESULTS--------------------------*/
fieldset {
	border: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
  	letter-spacing: 0.1em;
  	line-height: 1.5;
  	color: #564f45;
  	margin-left: auto;
	margin-right: auto;
}

input {
	margin-right: 10px;
}

.star {
	width: 44px;
	margin-left: 0;
	position: absolute;
	margin-top: 20px;
}

.question-answers {
	margin-left: 50px;
}

.radio_questions .right_option {
	margin-top: -154px;
  	margin-left: 260px;
}

/*.question {
	margin-left: 275px;
}

.radio_questions {
	margin-left: 275px;	
}*/

.right_question {
	margin-top: -285px;
}

.icon {
	margin-left: 0px;
	margin-bottom: 20px;
}

.quiz_results {
	/*visibility: hidden;*/
	margin-left: 385px;	
}

#geek_result {
	margin-top: -40px;
}

#nerd_result {
	margin-top: -40px;
  	margin-bottom: 90px;
}

#button {
	width: 300px;
    height: 60px;
	/*margin-left: auto;
	margin-right: auto;*/
	margin-left: -220px;
	margin-top: 80px;
}

#button a {
	text-decoration: none;
	font-size: 1.4em;
	font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.1em;
    color: #ffeed1; 
    font-weight: 600;
    display: block;
    width: 300px;
    height: 60px;
    text-transform: uppercase;
    text-align: center;
    background-color: #f18d2b;
    padding-top: 10px;

}

#button a:focus {
	outline: none;
}

#button a:hover {
	cursor: pointer;
	background-color: #524a3f;

}

#compscience {
	margin-top: -180px;
}

#job-secondquestion {
	margin-top: -310px;
}

/*-------------------DIVISION--------------------------*/
.division img {
	width: 55%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.division .line {
	width: 50%;
	height: 10px;
	background-color: #000;
}

/*-------------------FOOTER--------------------------*/
#footer_section {
	background-color: #524a3f;
	height: 80px;
	margin-top: 100px; /*HAD TO CHANGE THIS BECAUSE IT OVERLAPPED THE VIEW RESULTS BUTTON*/
}

#footer_section p.footer_text {
	color: #e0d8cb;
	text-align: center;
	font-size: 0.8em;
	margin-top: 30px;
}


/*-------------------SOCIAL MEDIA BUTTONS--------------------------*/
.fb-btn {
	color: #fff;
	font-size: 18px;
	background-color: #133783;
	border: none;
	padding: 10px;
	margin: 20px 10px 0 5px;
}

.twit-btn {
	color: #fff;
	font-size: 18px;
	background-color: #2daddc;
	border: none;
	padding: 10px;
	margin: 20px 10px 0 5px;
}

.tum-btn {
	color: #fff;
	font-size: 18px;
	background-color: #3a5976;
	border: none;
	padding: 10px;
	margin: 20px 10px 0 5px;
}




/*-----------------CHART STATS------------------*/
#world {
	margin-top: 120px;
 	margin-left: -130px;
}
#world1 img {
	width: 254px;
}

#world1:hover {
	cursor: pointer;
}

#world2 img {
	margin-top: -95px;
  	margin-bottom: 70px;
  	margin-left: 282px;
}

#world2:hover {
	cursor: pointer;
}

.porcentage {
	color: #f6f2d9;
	position: absolute;
	font-size: 2em;
  	font-weight: 600;
}

#porcent1 {
	margin-top: -186px;
  	margin-left: 290px;
  	font-size: 3em;
}

#porcent2 {
	margin-top: -132px;
  	margin-left: 310px;
}

.heads {
	width: 40%;
}

img#geekboyhead {
 	position: absolute;
 	margin-top: -30px;
  	margin-left: -20px;
}

img#nerdgirlhead {
	margin-top: 90px;
  	margin-left: -20px;
}

#hoverme {
	margin-top: 110px;
  	position: absolute;
  	margin-left: 30px;
}



svg {
	position: absolute;
  	margin-left: 203px;
  	margin-top: 29px;
}

#vertical_line {
	margin-left: 24px;
  	margin-top: 40px;
}

#bottom_horizontal {
	margin-top: 360px;
	margin-left: 270px;
}

line:nth-child(1) {
  stroke-dasharray:20px;
  -webkit-animation: monanimation 1s infinite linear;
  -moz-animation: monanimation 1s infinite linear;
}

@-moz-keyframes monanimation {
    0% {-moz-stroke-dashoffset:0;} /* WTF !? */
  100% {stroke-dashoffset:-40px;}
}

@-webkit-keyframes monanimation {
  0% {stroke-dashoffset:0;}
  100% {stroke-dashoffset:-40px;}
}


.comfortable_called {
	background-color: #fff;
  	height: 130px;
  	width: 440px;
  	padding-top: 5px;
}

.comfortable_called p {
	padding-left: 120px;
  	width: 90%;
}

#called_geek {
	margin-top: 30px;
  	margin-left: 110px;
}

#called_nerd {
	margin-top: -183px;
  	margin-left: 110px;
}

.red {
	color: #c96156;
	font-weight: 600;
	text-transform: uppercase;
}

.blue {
	color: #40688b;
	font-weight: 600;
	text-transform: uppercase;
}

.strong_value {
	font-weight: 600;
}


#versus {
	position: absolute;
  	margin-left: 280px;
  	margin-top: -80px;
  	font-size: 3em;
  	font-weight: 600;
}


.fears_white {
	background-color: #fff;
  	height: 80px;
  	/* width: 260px; */
  	padding-top: 10px;
  	position: absolute;
}

p.fears_white {
	padding-left: 10px;
  	width: 90%;
}

#files {
	position: absolute;
  	width: 140px;
  	height: 105px;
  	margin-top: 70px;
  	margin-left: 25px;
}

p#files {
	padding-left: 20px;	
}

#folder_icon {
	margin-left: 0;
}


#relationship {
	width: 150px;
  	margin-left: 240px;
  	margin-top: -81px;
}


#the_flu {
	width: 120px;
  	margin-left: 230px;
  	margin-top: -75px;
}

p#the_flu {
	padding-left: 20px;
}

#heart_icon {
	margin-left: 50px;
  	margin-top: 26px;
}


#doctor_icon {
	margin-top: 35px;
  	margin-left: 80px;
}


#losing_files {
	margin-top: 100px;
  	margin-bottom: 140px;
  	background-color: #fff;
  	border-radius: 1em;
  	height: 140px;
}


#last_questions {
	margin-top: 340px;
}


#vertical_fearsline {
	margin-left: -95px;
  	margin-top: 2px;
}

#horizontal_relationship {
	margin-left: 130px;
  	margin-top: -50px;
}

#horizontal_theflu {
	margin-left: 120px;
  	margin-top: -50px;
}

#folder_porcent {
	font-size: 4em;
  	font-weight: 600;
  	position: absolute;
  	margin-top: -120px;
  	margin-left: 30px;
  	color: #f3ac44;
}

#heart_porcent {
	color: #c96156;
	position: absolute;
	font-size: 3em;
  	font-weight: 600;
  	margin-top: -100px;
  	margin-left: 45px;
}

#flu_porcent {
	color: #40688b;
  	position: absolute;
	font-size: 2em;
  	font-weight: 600;
  	margin-top: -80px;
  	margin-left: 70px;
}

#conclusion {
	position: absolute;
	width: 820px;
  	margin-top: 80px;
  	margin-left: -550px;
}

#conclusion p {
	background-color: #fff;
	width: 760px;
  	margin-left: 30px;
  	padding: 20px;
  	margin-top: -10px;
  	box-shadow: 10px 10px #d2cec3;
}

.red_border {
	border: 6px solid #c96156;
  	border-radius: 1em;
  	margin-top: 15px;
  	height: 110px;
  	width: 100%;
}

#losing_files .red_border p {
	padding-left: 19px;
  	width: 100%;
}

.smaller_arrow {
	width: 20px;
}

/*-----------MOVIES GAMES-------------*/
#movies_games_section {
	margin-top: 100px;
  	margin-bottom: 140px;
  	background-color: #fff;
  	border-radius: 1em;
  	height: 140px;
}

#movies_games_section .red_border p {
	padding-left: 19px;
  	width: 100%;
}

#geeks_mg_section {
	margin-top: -160px;
}

#nerds_mg_section {
	margin-top: -1170px;
}

.some_too {
	  width: 240px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-top: -50px;
  font-size: 1em;
}

#geekmovies_ex {
	margin-top: 60px;
	position: relative;
}

.geek_lines {
	width: 240px;
  	height: 4px;
	background-color: #c96156;
}

.nerd_lines {
	width: 240px;
  	height: 4px;
	background-color: #40688b;
}

#starwars_img {
	margin-right: 80px;
}

#starwars_text {
	margin-top: -110px;
  position: absolute;
  margin-left: 130px;
  font-weight: 600;
}

#starwars_line {
	margin-left: 70px;
  margin-top: -80px;
  position: absolute;
}

#ring_img {
	margin-left: 70px;
}

#ring_text {
position: absolute;
  margin-top: -110px;
  margin-left: 270px;
    font-weight: 600;

}

#ring_line {
position: absolute;
  margin-top: -80px;
  margin-left: 239px;
}

#ironman_img {
	margin-right: 80px;

}

#ironman_text {
	margin-top: -110px;
  position: absolute;
  margin-left: 90px;
  font-weight: 600;
}

#ironman_line {
	margin-left: 70px;
  margin-top: -80px;
  position: absolute;
}

#nerdmovies_ex {
	margin-top: 60px;
	position: relative;
}

#startrek_img {
	margin-left: 60px;
}

#startrek_text {
margin-top: -110px;
  position: absolute;
  margin-left: 290px;
  font-weight: 600;
}

#startrek_line {
	margin-left: 230px;
  margin-top: -80px;
  position: absolute;
}

#battlestar_img {
	margin-right: 70px;
}

#battlestar_text {
	position: absolute;
  margin-top: -110px;
  margin-left: 130px;
    font-weight: 600;
}

#battlestar_line {
	position: absolute;
  margin-top: -80px;
  margin-left: 80px;
}

#guide_img {
	margin-left: 60px;
}

#guide_text {
	margin-top: -110px;
  position: absolute;
  margin-left: 250px;
  font-weight: 600;
}

#guide_line {
	margin-left: 230px;
  margin-top: -80px;
  position: absolute;
}

.movie_img {
	position: absolute;
	opacity: 0.2;
	margin-top: 130px;
  margin-left: 110px;
}

#geekmovie_img {
	margin-left: 160px;
}

.games {
	background-color: #fff;
  width: 470px;
  margin-left: 60px;
  padding: 20px;
  margin-top: 130px;
  box-shadow: 10px 10px #d2cec3;
}

#controller_img {
	position: absolute;
  margin-top: -70px;
  margin-left: -10px;
}

#dices_img {
	position: absolute;
  width: 20%;
  margin-left: -12px;
  margin-top: -70px;
}

#geekgames_ex {

}

.fa-custom-icon-geek {
	color: #c96156;
	margin-right: 10px;
}

.fa-custom-icon-nerd {
	color: #40688b;
	margin-right: 10px;
}

.bolder {
	font-weight: 600;
}


/*------JOBS--------*/

.jobs img{
	width:10%;
	float:left;
	margin:15px;
}

.jobs p{
	font-size: 16px;

}

.job-description{
	background-color: #fff;
  	padding: 20px;
  	box-shadow: 10px 10px #d2cec3;
}

.bold{
	font-weight: 600;
	margin-top: 50px;
}
